NODE_ENV=development
PORT=8080
CORS_ORIGIN=http://localhost:5173

MONGODB_URI=mongodb://127.0.0.1:27017/hopfast

LIFI_API_KEY=
LIFI_API_BASE_URL=https://li.quest/v1
LIFI_INTEGRATOR=
LIFI_FEE=
LIFI_SLIPPAGE=0.005

DEBRIDGE_API_BASE_URL=https://dln.debridge.finance
DEBRIDGE_ACCESS_TOKEN=
DEBRIDGE_REFERRAL_CODE=

SQUID_API_BASE_URL=https://v2.api.squidrouter.com
SQUID_INTEGRATOR_ID=
